@model List<AdminSensoresTemperatura.Models.lecturas>
@{
    ViewBag.Title = "Gráfico de Molino";
}
<div class="content-wrapper">
    <br />
    <h3 class="text-center">Últimas Lecturas - "@ViewBag.Molino"</h3>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
            <a id="popoverOption" class="btn" href="#" data-content="Popup with option trigger" rel="popover" data-placement="bottom" data-original-title="Title"></a>
        </div>
        @*<div id="holder" class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center" style="background-color:#000000 !important"></div>*@
        <div id="holder" class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center"></div>
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center">
            <div class="modal-footer" style="background-color:#ecf0f5 !important">
                <a href="@Url.Action("graficoMolinoAlternativa", "Graficos", new { nombreMolino = @ViewBag.Molino })" class="btn btn-primary">Ver como Gráfico Polar</a>
                <a href="@Url.Action("GraficoMolinoLinea", "Graficos", new { nombreMolino = @ViewBag.Molino })" class="btn btn-primary">Ver Gráfico de líneas</a>
                <a href="@Url.Action("todosMolino", "Sensor", new { molino = @ViewBag.Molino })" class="btn btn-primary">Gestionar Sensores del Molino</a>
            </div>
        </div>
    </div>

    @*<div id="holder" class="text-center" style="background-color:#211e1e !important"></div>*@
</div>

@section Scripts{
        @{            
            double angulo=180;
            <script type="text/javascript" charset="utf-8">
    $('#popoverOption').popover({
        trigger: "manual",
        placement:"top"
    });

    window.onload = function () {
        //var r = Raphael("holder", 640, 480),
        var r = Raphael("holder", 640, 480),
            angle = @angulo;

        @for (int i = 0; i < Model.Count; i++) {
                        angulo+=(360/Model.Count);
                        if(angulo>=360){
                            angulo-=360;
                        }
                        <text>
        rand = Math.random();
        var color = "@Model[i].color";
        (function (t, c) {
            r.circle(320, 450, 8).attr({
                stroke: c, fill: c, transform: t, "fill-opacity": .8
            }).mouseover(function () {
                this.animate({ "fill-opacity": .4 }, 500);
                $('#popoverOption').attr("data-original-title","Polo @Model[i].numeroPolo");
                $('#popoverOption').attr("data-content","Temperatura: @Model[i].temperatura");
                $('#popoverOption').popover('show');
            }).mouseout(function () {
                this.animate({ "fill-opacity": .8 }, 500);
                $('#popoverOption').popover('hide');
            }).click(function () {
                window.location = "@Url.Action("GraficoSensorVeinteMinutos", "Graficos", new { EPC = @Model[i].epc })";
            });
        })("r" + angle + " 320 240", color);
        angle = @angulo;
                    </text>
                    }
                };

                $(document).ready(function() {
                    $('html,body').animate({
                        scrollTop: $("#popoverOption").offset().top},
                    'slow');
                });

                // set up the chart to update every second
                setInterval(function () {

                    url = "@Url.Action("graficoMolino", "Graficos", new { nombreMolino = @ViewBag.Molino })";

                    console.log(url);

                    location.href=url;
                }, 20000);
            </script>
        }
}
